@import "tailwindcss";

html, body{
  background: black;
  background-image: linear-gradient(to bottom, #000000, #121212);
  font-family: 'unbounded';
  overflow-x: hidden;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  cursor:none;
  color: #ffffff;
}
.cursor-none * {
  cursor: none;
}


